toml~=0.10
yara-python~=4.0
netaddr~=0.8
certifi~=2019.9
chardet~=3.0
Click~=7.0
Flask~=1.1
Flask-Script~=2.0
idna~=2.8
itsdangerous~=1.1
Jinja2~=2.10
MarkupSafe~=1.1
pymongo~=3.9
python-dateutil~=2.8
requests~=2.22
six~=1.12
urllib3~=1.25
Werkzeug~=0.16
tqdm~=4.55
numpy==1.22.0  # Version prior to bug causing Pandas to be unusable
pandas~=1.2.0