[Unit]
Description=Run RADAR Uplink Server
DefaultDependencies=no
After=network.target

[Service]
Type=simple
#User=cyber_radar
#Group=cyber_radar
ExecStart=radar-uplink.py
#ExecStop=radar-ctl.py document-commands /tmp/radar_uplink_command_documentation.md
TimeoutStartSec=0
RemainAfterExit=true

[Install]
WantedBy=default.target